[submodule "vimwiki"]
	path = vimwiki
	url = git@github.com:reo101/vimwiki.git
[submodule ".local/src/mpd-rich-presence-discord"]
	path = .local/src/mpd-rich-presence-discord
	url = https://www.github.com/justas-d/mpd-rich-presence-discord
[submodule ".local/src/wal-discord"]
	path = .local/src/wal-discord
	url = https://github.com/guglicap/wal-discord
[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .config/zsh/fast-syntax-highlighting
	url = git@github.com:zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule ".fzf"]
	path = .fzf
	url = git@github.com:reo101/dotfiles.git
