[submodule ".local/src/mpd-rich-presence-discord"]
	path = .local/src/mpd-rich-presence-discord
	url = https://www.github.com/justas-d/mpd-rich-presence-discord.git
[submodule ".local/src/wal-discord"]
	path = .local/src/wal-discord
	url = https://github.com/guglicap/wal-discord.git
[submodule ".config/zsh/fast-syntax-highlighting"]
	path = .config/zsh/fast-syntax-highlighting
	url = https://www.github.com/zdharma/fast-syntax-highlighting.git
[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = https://www.github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/fzf"]
	path = .config/zsh/fzf
	url = https://www.github.com/junegunn/fzf.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule ".local/src/mutt-wizard"]
	path = .local/src/mutt-wizard
	url = https://github.com/LukeSmithxyz/mutt-wizard
