[Desktop Entry]
Type=Application
Name=Wine Internet Explorer
MimeType=image/jpeg;
Exec=env WINEPREFIX="/home/reo101/.wine" wine start /ProgIDOpen pjpegfile %f
NoDisplay=true
StartupNotify=true
Icon=7596_iexplore.0
